.navbar-toggler {
    color: darkblue;
    background-color:darkgrey;
}

.navbar-expand-lg {
     background-color:lightgray;
    color: aquamarine;
    padding-bottom: 1%
}
.nav-link {
    font-weight: bold;
}
.nav-item {
    font-weight: bold;
}
.dropdown-menu {
    background-color:lightgray;
}
.dropdown-divider {
    color: aquamarine;
    background-color:brown;
}
.img-responsive {
        margin: 0 auto;
        display: block;

}

.list-group {
    color: darkblue;
    background-color: darkgrey;
    background-color: #D3D3D3;
}
.container {
      position: absolute;
          top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.fa {
  padding: 50px;
  font-size: 50px;
  width: auto;
  text-align: center;
  text-decoration: none;
  margin: 2px 2px;
    border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}
.fa-twitter {

     position: absolute;
          top: 50%;
  left:30%;
  transform: translate(-50%,-50%);
    background: #55ACEE;
    color: white;
}
.fa-linkedin {
     position: absolute;
          top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  background: #007bb5;
  color: white;
}
.fa-instagram {
position: absolute;
top: 50%;
  left:70%;
  transform: translate(-50%,-50%);
  background: #125688;
  color: white;
}
.carousel-inner img {
  margin: auto;
}
.carousel-item img {
  margin: auto;
}
.h5 {
    position: absolute
}
.jumbotron {
  background-image: url(../img/ev.png);
  text-align: left;
  padding-left: 1%;
    padding-bottom: %;
  margin: 10;
  background-position: top;
  background-color: lightgray;
  background-size: cover;
  background-repeat: no-repeat;
  text-shadow: black 0.05em 0.05em 0.05em 
}
.jumbotron h2 {
  font-size: 36px;
    margin: 1;
  font-weight: bold;
}

.body {
  padding-top: 40px;
  font-family: 'Montserrat', sans-serif;
    margin: 20;
  color: #242424;
}
body {background-color: lightgrey;}
